<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Consultorio</title>
</head>
<body>
    <h1>Actualizar Consultorio</h1>
    <form method="post" action="/consultorios/update/{{consultorio_update.id}}" style="background-color: gray" id="formulario" >
        <p> Numero: <input type="number" class="form-control" placeholder="Nombre" name="num"/></p> 
    
        <button type="submit" class="btn btn-primary">
            actualizar
        </button>
    </form>
</body>
</html>