<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar paciente</title>
</head>
<body>
    <h1>Actualizar paciente</h1>

    <form method="post" action="/paciente/update/{{paciente_update.id}}" style="background-color: gray" id="formulario" >
        <p> Nombre: <input type="text" class="form-control" placeholder="Nombre" name="nombre" value="{{ paciente_update.nombre }}"/></p> 
        <p> Apellidos: <input type="text" class="form-control" placeholder="Apellidos" name="apellido" value="{{ paciente_update.apellido }}"/></p>
            
        <p> tipo de identificacion:
            <select id="inputState" class="form-select" name="ti">
                <option
                    {% if paciente_update.tipo_identificacion == "TI"%}
                        selected
                    {% endif %}>TI
                </option>        
                <option
                    {% if paciente_update.tipo_identificacion == "CC"%}
                        selected
                    {% endif %}>CC
                </option>
            </select>
        </p>
    
        <p> Numero de identificacion:
            <input type="text" name="ni" class="form-control" placeholder="Numero de identificacion" value="{{ paciente_update.numero_identificacion }}"/>
        </p>
    
        <p>altura:
            <input type="number" name="al" class="form-control" placeholder="altura"  value="{{ paciente_update.altura }}"/>
        </p>
    
        <p>Tipo de sangre:
            <select name="rh" class="form-select">
                {% for tipo_sangre in tipo_sangres %}
                    <option {%if paciente_update.tipo_sangre == tipo_sangre%}
                                selected
                            {% endif %}
                    >{{ tipo_sangre }}</option>
                {% endfor %}
            </select>
        </p>
    
        <button type="submit" class="btn btn-primary">
            actualizar
        </button>
    </form>
</body>
</html>